@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather");
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");
/* line 8, ../../sass/styles.scss */
.row {
  max-width: 100%; }

/* line 12, ../../sass/styles.scss */
.one {
  background-color: red; }

/* line 16, ../../sass/styles.scss */
body {
  background-color: red; }

/* line 20, ../../sass/styles.scss */
.four {
  background-color: #0B610B; }

/* line 24, ../../sass/styles.scss */
.modal {
  margin-top: auto;
  margin-bottom: auto; }

/* line 28, ../../sass/styles.scss */
.modal:hover {
  background-color: #E45050; }

/* line 32, ../../sass/styles.scss */
.back {
  background-image: url("/data/ICC.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 0;
  padding-top: 33%;
  /* (img-height / img-width * width) */
  /* (853 / 1280 * 100) */ }
