@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
/* line 6, ../../sass/styles.scss */
div {
  -webkit-overflow-scrolling: touch; }

/* line 9, ../../sass/styles.scss */
.first {
  background-color: green; }

/* line 13, ../../sass/styles.scss */
.row {
  max-width: 85%; }

/* line 17, ../../sass/styles.scss */
.one {
  background-color: #0099FF; }

/* line 21, ../../sass/styles.scss */
.two {
  background-color: #FFBF00; }

/* line 25, ../../sass/styles.scss */
.three {
  background-color: #FAAC58; }

/* line 28, ../../sass/styles.scss */
.four {
  background-color: #519B51; }

/* line 32, ../../sass/styles.scss */
.modal {
  padding: 18px; }

/* line 36, ../../sass/styles.scss */
.modal:hover {
  opacity: 0.4;
  cursor: pointer; }

/* line 40, ../../sass/styles.scss */
.country {
  display: inline-block; }

/* line 43, ../../sass/styles.scss */
.even {
  background-color: #A9E2F3; }

/* line 47, ../../sass/styles.scss */
.even:hover {
  background-color: #0099FF; }

/* line 50, ../../sass/styles.scss */
.back {
  background-image: url("/data/mpimg/ICC.jpg");
  background-color: #0099FF;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 0;
  padding-top: 33%;
  /* (img-height / img-width * width) */
  /* (853 / 1280 * 100) */ }

/* line 63, ../../sass/styles.scss */
.social {
  word-spacing: 2px;
  line-spacing: -2px; }

/* line 70, ../../sass/styles.scss */
#footer {
  background-color: #222222;
  color: white;
  padding-top: 30px;
  line-spacing: -4px; }

/* line 77, ../../sass/styles.scss */
.facebook {
  color: #0000FF; }

/* line 82, ../../sass/styles.scss */
.twitter {
  color: #1E90FF; }

/* line 86, ../../sass/styles.scss */
.google {
  color: #B22222; }

/* line 90, ../../sass/styles.scss */
.youtube {
  color: red; }

/* line 93, ../../sass/styles.scss */
.facebook:hover {
  color: #0000FF;
  opacity: 0.4; }

/* line 98, ../../sass/styles.scss */
.twitter:hover {
  color: #1E90FF;
  opacity: 0.4; }

/* line 103, ../../sass/styles.scss */
.google:hover {
  color: #B22222;
  opacity: 0.4; }

/* line 108, ../../sass/styles.scss */
.youtube:hover {
  color: red;
  opacity: 0.4; }

/* line 118, ../../sass/styles.scss */
.ng-leave {
  animation: fadeOut;
  transition-delay: 0.5s;
  transition-duration: 0.5s; }

/* line 126, ../../sass/styles.scss */
.reveal-modal, table {
  font-family: 'Lora', serif;
  font-weight: 10; }

/* line 132, ../../sass/styles.scss */
h3 {
  font-family: 'Oswald', sans-serif; }

/* line 136, ../../sass/styles.scss */
h4 {
  font-family: 'Merriweather', serif; }

/* line 140, ../../sass/styles.scss */
li {
  font-family: 'Oswald', sans-serif; }

/* line 144, ../../sass/styles.scss */
reveal-modal {
  background-color: #90EE90; }
