<form>
    Search: <input ng-model = "query">
    Sort By: <select ng-model="sorting">
      <option value = "title"> Movie Title </option>
      <option value = "rank"> Ranking </option>
      <option value = "rated"> Movie Rating </option>
    </select>
    
  </form>
  
  <div ng-repeat="movie in movies | filter:query | orderBy:sorting"  class="row">
    <div class = "large-offset-2 large-8 columns end" ng-animate="animate" ><div class="small-6 columns"> <p><a href="#/movie/{{movie.rank}}">{{movie.title}}</a></p></div><div class="small-6 columns"> <a href="#/movie/{{movie.rank}}"><img ng-src="./data/images/{{movie.imdbID}}.jpg" style ="width:80px; height:80px;"></a></div></div>
  </div>

 
